<!DOCTYPE html>

<html>

<head>
    <title>Miniyoutube</title>
    <link rel="icon" href="/img/Miniyoutube.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main data-page="home">
        {{>header}}
        <form class="search">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <ul>
            {{#each videos}}
                <li id="{{this._id}}" class="card">
                    <img class="thumbnail" src="{{this.thumbnail}}">
                    <div class="details">
                        <h2>{{this.title}}</h2>
                        <p>{{this.creation_date}}</p>
                        <div class="rating">
                            <img class="like" src="/img/like.png">
                            <span class="like">{{this.likes_counter}}</span>
                            <img class="dislike" src="/img/like.png">
                            <span class="dislike">{{this.dislikes_counter}}</span>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        {{>footer}}
    </main>

    <script src="/js/app.js"></script>
</body>

</html>