<!DOCTYPE html>

<html>

<head>
    <title>Video</title>
    <link rel="icon" href="/img/Miniyoutube.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main data-page="view">
        {{>header}}

        <video id={{video._id}} controls>
            <source src={{video.url}} type="video/mp4">
            Your browser does not support HTML video.
        </video>

        <section class="details">
            <h1>{{video.title}}</h1>
            <p class="date">{{video.creation_date}}</p>
            <p class="tags">
                {{#each video.tags}}
                <span>{{this}}</span>
                {{/each}}
            </p>
            <div class="rating">
                <img id="btnLike" class="like btn-like" src="/img/like.png">
                <span id="counterLike" class="like">{{video.likes_counter}}</span>
                <img id="btnDisike" class="dislike btn-dislike" src="/img/like.png">
                <span id= "counterDislike"class="dislike">{{video.dislikes_counter}}</span>
            </div>
            <p>{{video.description}}</p>
        </section>

        <section class="comments">
            <h3 class="underlined">Add comment</h3>
            <form action="comments" method="post" name="addComment">
                <input type="text" name="video-id" value={{video._id}} hidden>
                <input type="text" name="author" placeholder="Author" required>
                <textarea name="comment" placeholder="Write your comment here..." required></textarea>
                <button type="submit">Save</button>
            </form>

            <h3 class="underlined">Comments</h3>
            {{#each comments}}
                <div class="comment">
                    <p>
                        <b class="user">{{this.user}}</b>
                        <span class="date">{{this.creation_date}}</span>
                    </p>
                    <p>{{this.text}}</p>
                </div>
            {{/each}}
            
        </section>

        {{>footer}}
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>